*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --bg-color: #292C34;
    --conatiner-color: #3B3B5F;
    --button-color: #444444;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--bg-color);
}

#drum-machine {
    display: inline-block;
    padding: 1.6rem 1.4rem;
    background-color: var(--conatiner-color);
    border-radius: 0.6rem;
}

#pad-bank {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 0.65rem;
    padding: 0 1.4rem;
}

.drum-pad {
    width: 90px;
    height: 90px;
    font-size: 1.6rem;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background-color: orange;
}

.power-button-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 1.3rem;
}

#display {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: #444;
    margin: 20px 0;
}

#slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#volume-slider {
    accent-color: orange;
}

.swap-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.3rem
}

#power-button, #swap-button{
    width: 60px;
    height: 23px;
    background-color: #555;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

#power-button::before, #swap-button::before{
    position: absolute;
    content: '';
    background-color: orange;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    transition: 0.3s;
}
 
#power-checkbox, #swap-checkbox{
    display: none;
}

#power-checkbox:checked + #power-button::before, #swap-checkbox:checked + #swap-button::before{
    transform: translate(37.3px);
}