* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;

}

h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 0;
    margin-bottom: 20px;
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 6px 6px #002ead;;
}

label {
    color: #0a0a23;
    margin-bottom: 20px;
    display: block;
}

.palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
}

.palindrome-btn {
    width: 90px;
    color: #fff;
    background-color: #5a01a7;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.results-div {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
}

.user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}

.palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palindrome-definition {
    vertical-align: middle;
    text-align: center;
}